body {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

.content {
	position: relative;
}

.name {
	position: relative;
	margin-top: 30px;
	left: -70px;
	font-size: 30px;
	font-family: 'Crafty Girls', cursive;
}

.bubble {
	position: relative;
	width: 360px;
	height: 100px;
	padding: 4px;
	background: #FFFFFF;
	border: #b30000 solid 6px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;
	font-size: 30px;
	font-family: 'Crafty Girls',cursive;
}

.bubble:after {
	content: "";
	position: absolute;
	bottom: -18px;
	left: 308px;
	border-style: solid;
	border-width: 18px 12px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.bubble:before {
	content: "";
	position: absolute;
	top: 114px;
	left: 303px;
	border-style: solid;
	border-width: 23px 17px 0;
	border-color: #b30000 transparent;
	display: block;
	width: 0;
	z-index: 0;
}

.content-bubble {
	margin-top: 10px;
	font-family: tahoma, arial;
	font-size: 12px;
}

.content-bubble li {
	display: inline;
}
